{% extends 'base.html' %}

{% block content %}

    <main>
        <div class="login">
            <h1>Signup</h1>
            <form action ="{% url "signup" %}" method = "post">
                {% csrf_token %}
                <div class="txt_field">
                    <input type="text" required name="username" id="id_username" autocomplete="username">
                    <span></span>
                    <label for="id_username">Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" required name="password1" id="id_password1" autocomplete="new-password">
                    <span></span>
                    <label for="id_password1">Password</label>
                </div>
                <div class="txt_field">
                    <input type="password" required name="password2" id="id_password2" autocomplete="new-password">
                    <span></span>
                    <label for="id_password2">Password Confirmation</label>
                </div> 
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </main>

{% endblock content %}