{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="create">
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Create">
            </form>
        </div>
    </main>
{% endblock content %}